* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
    background-color: rgb(208, 217, 225);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../assents/inicial/PUC-aerea-02.jpg");

    padding: 20px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color:#D9AC59;
    color:aliceblue;
}
.logo img{
    width: 180px;
    height: 180px;
}
.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: auto;
}

h1 {
    font-size: 30px;
}

.menu {
    background-color: #D9AC59; 
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px #926c26; /* Adiciona sombra */
    
}
.menu a {
    text-decoration: none;           /* Remove o sublinhado padrão dos links */
    color: white;                   /* Define a cor do texto como branco */
    background-color: #D9AC59;         /* Define a cor de fundo do botão */
    padding: 10px 15px;             /* Adiciona espaçamento interno ao botão */
    border-radius: 5px;             /* Arredonda os cantos do botão */
    transition: background-color 0.3s ease; /* Efeito suave na mudança de cor ao passar o mouse */
}
.menu a:hover {
    background-color: #af8330;         /* Muda a cor de fundo para um tom mais claro ao passar o mouse */
}
.menu ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
}

.menu li {
    padding: 10px;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu-icon {
    font-size: 24px;
    display: none;
}

.sobre-nos {
    margin-top: 30px;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.left-box {
    width: 40%;
    height: 300px;
    border: 1px solid black;
}
.left-box{
    display: flex; /* Habilita o uso de flexbox */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    text-align: center; /* Centraliza o texto dentro das caixas */
}

.contato {
    position: relative;
    display: inline-block;
   /*  border-radius: 5px;             Arredonda os cantos do botão */
    transition: background-color 0.3s ease; /* Efeito suave na mudança de cor ao passar o mouse */
}
.contato button:hover {
    background-color:#af8330;         /* Muda a cor de fundo para um tom mais claro ao passar o mouse */
}

/* Estilo para o botão do dropdown */
.cont {
    background-color:#D9AC59; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px ;            /*  Arredonda os cantos do botão */
    transition: background-color 0.3s ease; /* Efeito suave na mudança de cor ao passar o mouse */
}

.oficial {
    position: relative;
    display: inline-block;
   /*  border-radius: 5px;             Arredonda os cantos do botão */
    transition: background-color 0.3s ease; /* Efeito suave na mudança de cor ao passar o mouse */
}
.oficial a:hover {
    background-color:#af8330;         /* Muda a cor de fundo para um tom mais claro ao passar o mouse */
}

/* Estilo para o botão do dropdown */
.ofc {
    background-color:#D9AC59; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px ;            /*  Arredonda os cantos do botão */
    transition: background-color 0.3s ease; /* Efeito suave na mudança de cor ao passar o mouse */
}

.sobre-nos {
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.sobre-nos h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #D9AC59;
}

.sobre-nos p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.left-box {
    width: 20%; /* Largura da caixa */
    height: auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;      /* Organiza os itens na vertical */
    justify-content: flex-start; /* Garante que o conteúdo comece do topo */
    margin-left: 30px;
}

.left-box h3 {
    font-size: 1.4rem;
    color: #D9AC59;
    margin-bottom: 10px;
    margin-top: 0; /* Garante que o título fique no topo */
}

.left-box p {
    font-size: 1rem;
    color: #444;
    line-height: 1.5;
    text-align: justify;
}

.right-box {
    width: 70%; /* Caixa maior, com 60% de largura */
    padding: 50px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 60px;
}

.right-box h3 {
    font-size: 1.4rem;
    color: #D9AC59;
    margin-bottom: 10px;
}

.right-box p {
    font-size: 1rem;
    color: #444;
    line-height: 1.5;
    text-align: justify;
}

.COMUNICA img{
    width: 65%;
    height:auto ;
}
.FACECA img{
    width: 65%;
    height:auto ;
}
.FAU img{
    width: 73%;
    height:auto ;
}
.LAP img{
    width: 75%;
    height:auto ;
}
.LEP img{
    width: 75%;
    height:auto ;
}
.DIREITO img{
    width: 75%;
    height:auto ;
}

/* Responsividade */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .left-box, .right-box {
        width: 90%; /* Ajusta as larguras para 90% em telas menores */
    }

    .sobre-nos h2 {
        font-size: 1.8rem;
    }
}

/* Estilo para o container do dropdown */
.dropdown {
    position: relative;
    display: inline-block;
   /*  border-radius: 5px;             Arredonda os cantos do botão */
    transition: background-color 0.3s ease; /* Efeito suave na mudança de cor ao passar o mouse */
}
.dropdown button:hover {
    background-color:#af8330;         /* Muda a cor de fundo para um tom mais claro ao passar o mouse */
}

/* Estilo para o botão do dropdown */
.dropbtn {
    background-color:#D9AC59; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px ;            /*  Arredonda os cantos do botão */
    transition: background-color 0.3s ease; /* Efeito suave na mudança de cor ao passar o mouse */
}

/* Estilo para o conteúdo do dropdown (menu oculto) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:  #D9AC59;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    /*z-index: 1;*/
}

/* Estilo para os links dentro do dropdown */
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Estilo quando o link dentro do dropdown for "hovered" */
.dropdown-content a:hover {
    background-color: #af8330;
}

/* Exibe o menu dropdown ao passar o mouse ou clicar */
.dropdown:hover .dropdown-content {
    display: block;
}
